<div class="app" id="app">
  <div style="display: flex;">
    <input #newTask class="input form__input" />
    <button class="btn form__submit-btn" (click)="createNewTask(newTask.value, listId)" type="submit">Add</button>
  </div>
  <ul>
    <li class="todo-list__item" *ngFor="let item of taskList">
      {{item.title}}
    </li>
  </ul>


  <div class="filters">
    <button class="btn filters__btn filters__btn--all">
      All
    </button>
    <button class="btn filters__btn filters__btn--complete">
      Complete
    </button>
    <button class="btn filters__btn filters__btn--incomplete">
      Incomplete
    </button>
  </div>
</div>
