<div class="sidebar-wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input id="name" type="text" formControlName="title">
    <button class="btn form__submit-btn" type="submit">Add</button>
    <div class="todo-list__item" *ngFor="let item of taskList">
      <span (click)="goToRoute(item._id)">
        {{item.title}}
      </span>
      <div class="matıcon">
        <div>
          <button type="button" (click)="deleteList(item._id)" mat-button>
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </form>
</div>
